
<div class="container">
  <div>
    <input type="text" placeholder="Search by gender"
    style="width: 450px; padding: 2px 20px; margin: 10px 0px; height: 30px; "
    [(ngModel)]="filterText">
  </div>

  <div>
    <h3>Total Students: {{totalStudents | async}}</h3>
  </div>
  <table id="student" (mousemove)="onMouseMove()">
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Marks</th>
      <th>Percentage</th>
      <th>DOB</th>
      <th>Gender</th>
    </tr>
      <tr *ngFor="let std of filteredStudents">
      <!-- <tr *ngFor="let std of students | filterStudent: filterText"> -->
        <!-- Here we are iterating over students array -->
        <!-- Have to remember that Anugular recommends not to use pipes to filer and sort data!
        Because Pipe can significantly impact the performance of the application if not implementet carefully -->
        <td>{{std.name}}</td>
        <td>{{std.course}}</td>
        <td><input type="number" value="std.marks" [(ngModel)]="std.marks"></td>
        <td>{{std.marks | percentage: totalMarks : 3 }}</td>
        <!-- Here have used thhat CUSTOM PIPE which we created!!
        and we are passing this totalMarks as an argument  -->

        <!-- <td>{{std.marks / totalMarks | percent: '1.2-2'}}</td> -->
        <!-- Here we have used percent on a number and it multiplies that value with 100
        This is the use of a pipe,we use pipe to transfor data or format data -->

        <td>{{std.DOB | date: 'fullDate'}}</td>
        <!-- Here we have formatted this DOB value
        This is the use of a pipe,we use pipe to transfor data or format data -->
        <!-- <td>{{std.DOB | date: 'fullDate' | uppercase}}</td>
        We can also use multiplies pipes -->
        <td>{{std.gender | uppercase }}</td>
        <!-- Here we have formatted this gender value all in uppercase
        This is the use of a pipe,we use pipe to transfor data or format data -->
      </tr>
  </table>
  <br><br>
  <button (click)="AddDummyStudent()">Add Student</button>
  <button (click)="ChangeGender()">Change Gender</button>
</div>
